*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --light-grey: #e1e0e0;
  --grey: #666;
  --blue: #00f;
  --black: #000;
}

body {
  padding: 0.6rem;
  text-align: center;
}

#root {
  background-color: var(--light-grey);
}

footer {
  padding: 1.5rem 3rem;
  display: grid;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  font-size: 18px;
  justify-content: space-between;
  grid-template-areas:
    "list-1 list-2 list-3"
    "cp cp cp"
    "icons icons icons";
}

.copyright {
  grid-area: cp;
  margin-top: 1.6rem;
  color: var(--grey);
}

.icons {
  grid-area: icons;
  font-size: 1.4rem;
}

footer ul li {
  list-style: none;
}

footer ul li a,
.icons a {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  padding: 4px 10px;
}

footer ul li a:hover {
  color: var(--blue);
}

@media (width < 550px) {
  footer {
    grid-template-areas:
      "list-1"
      "list-2"
      "list-3"
      "cp"
      "icons";
  }
}
